<!-- Authors: Roman Bactol, Hayley Hadges, Spencer McNall -->

<!-- 
    https://docs.mapbox.com/mapbox-gl-js/guides/install/
    https://stackoverflow.com/questions/54405968/how-to-get-the-current-location-of-the-user
    search bar: https://docs.mapbox.com/mapbox-gl-js/example/mapbox-gl-geocoder/
    https://www.w3schools.com/howto/howto_js_collapse_sidebar.asp
-->

{% extends 'base.html' %}

{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title>TrailBlazer Map</title>

<link href="https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='mapPage.css') }}">

<!-- Load the `mapbox-gl-geocoder` plugin. -->
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css" type="text/css">


{% endblock %}

{% block content %}
<div id="nav">
    <h3>TrailBlazer</h3>
</div>
<div id="map"></div>


<div class="sidebar">
<div id="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeSidebar()">&times;</a>
    <!-- <button onclick="closeSidebar()">Close</button> -->
    <h4 id="location_name">Reviews</h4>
    <!-- <p id="avg_rating">&#11088&#11088&#11088&#11088&#11088<br>5 Stars<br>420 Reviews</p> -->
    <p id="review_number"></p>
    <div id="review_list" class="overflow-auto">
        <ul id="review_list_ul" class="list-group">
            {% for reviewItem in reviewItems %}
            <li class="list-group-item" hidden>
                <p id="park_name" hidden>{{ reviewItem.park_name }}</p>
                <p id="park_rating">{{ reviewItem.rating }}</p>
                <p>{{ reviewItem.review_text }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
    <button type="button" class="btn btn-primary btn-lg" onclick="openForm()">Add Review</button>
</div>
</div>
</div>

<!-- used https://www.w3docs.com/tools/code-editor/12095 for pop-up form-->
<div class="reviewPopup">
    <div class="formPopup" id="popupForm">
        <form action="/map" class="formContainer" method = "POST">
            <input type="text" id="form_loc_name" name="form_loc_name" value="" readonly>
            <label for="LocationRating">
                <strong>Rate Location</strong>
            </label><br>

            <!-- Used https://codepen.io/hesguru/pen/BaybqXv for star ratings -->
            <div class="rate" name="location_rating" required>
                <input type="radio" id="star5" name="rating" value="⭐⭐⭐⭐⭐" />
                <label for="star5" title="text">5 stars</label>
                <input type="radio" id="star4" name="rating" value="⭐⭐⭐⭐" />
                <label for="star4" title="text">4 stars</label>
                <input type="radio" id="star3" name="rating" value="⭐⭐⭐" />
                <label for="star3" title="text">3 stars</label>
                <input type="radio" id="star2" name="rating" value="⭐⭐" />
                <label for="star2" title="text">2 stars</label>
                <input type="radio" id="star1" name="rating" value="⭐" />
                <label for="star1" title="text">1 star</label>
            </div>

            <label for="InputReview">
                <strong>Location Review</strong>
            </label><br>
            <textarea type="review" id="InputReview" rows="5" cols="40" name="location_review"></textarea><br>

            <div class="btn-group" style="width:100%">
                <button type="button" class="btn cancel" style="width:50%" onclick="closeForm()">Close</button>
                <button style="width:50%" type="submit" class="btn">Submit</button>
            </div>


        </form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{{url_for('static', filename='mapPage.js')}}"></script>

{% endblock %}